@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
	--line-border-fill: #f41212d7;
	--line-border-empty: #c3b3b3;
}

* {
	box-sizing: border-box;
}
body {
	background-color: rgb(129, 151, 207);
	font-family: "Muli", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

h1 {
	position: absolute;
	top: 30px;
	left: 45%;
	transition: 0.5s ease-in-out;
}

h1:hover {
	color: fuchsia;
	transform: scale(1.5);
}

.container {
	text-align: center;
}
.progress-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
	position: relative;
}

.progress-container::after {
	content: "";
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	transition: 0.4s ease;
	height: 4px;
	width: 100%;
	z-index: -2;
}
.progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 0%;
	height: 4px;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid var(--line-border-empty);
	transition: 0.7s ease;
}
.circle.active {
	border-color: var(--line-border-fill);
}

.btn {
	background-color: var(--line-border-fill);
	padding: 8px 30px;
	border-radius: 6%;
	color: #fff;
	font-family: inherit;
	border: none;
	font-size: 14px;
	cursor: pointer;
}
.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background-color: rgb(202, 45, 45);
	transform: translateY(-2px);
}

.btn:disabled {
	background-color: var(--line-border-empty);
	cursor: not-allowed;
}
